<!DOCTYPE html>
<html>
  <head>
      <title>Message board</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="nav">
      <h1>Welcome to the message board!</h1>
    </nav>
    <main class="form-container">
      <form method="POST" action="/new">
        <input type="text" placeholder="Title" name="title">
        <textarea placeholder="Description" name="description"></textarea>
        <input type="text" placeholder="Insert your username" name="username">
        <button type="submit" class="post-button">POST!</button>
      </form>
    </main>
  </body>
</html>
